:root {
    --red: red;
    --black: black;
    --lightblue: lightblue;
}

body {
    text-align: center;
    padding: auto;
}

h2 {
    padding-left: center;
    width: auto;
    font-size: x-large;
}

h1 {
    color: var(--black);
    font-size: 100px;
    margin: 0%;
}

button {
    color: var(--black);
    font-size: 100px;
    border: dotted;
}
